<div id="<%= dom_id movie %>">

  <%if @movie && @movie.photos.attached?%>
   <% @movie.photos.each do |photo| %>  
     <%= image_tag photo %>
   <%end%>
  <%end%>

  <p>
    <strong>Title:</strong>
    <%= movie.title %>
  </p>

  <p>
    <strong>Descript:</strong>
    <%= movie.descript %>
  </p>

  <p>
    <strong>Release year:</strong>
    <%= movie.release_year %>
  </p>

  <% if @movie && @movie.photos.attached? %>
   <% @movie.photos.each do |photo| %>
    <div class="photo-item">
     <%= image_tag photo %>
       <%= button_to t('actions.delete'),
       destroy_photo_movie_path(@movie, photo_id: photo.id), method: :delete, data: { confirm: 'Tem certeza de que deseja excluir esta foto?' }, class: 'btn btn-danger btn-sm' %>
    </div>
   <% end %>
  <% end %>


</div>
